/*limpando formatações padrões*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/****Layout****/
#area-cabecalho{
	background-color: #FFD700;
	padding: 15px;
	text-align: center;
}

body.dark-mode {
    background-color: #121212 !important;
}

body.dark-mode .postagem, 
body.dark-mode .conteudo-lateral,
body.dark-mode #area-principal {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

body.dark-mode h2, 
body.dark-mode h1 {
    color: #ffe96f !important;
}

#botao-dark {
    background-color: #FFD700;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

#botao-dark:hover {
    background-color: white;
    color: #FFD700;
}


#area-principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens{
	width: 660px;
	float: left;
}

#area-lateral{
	width: 240px;
 	float: right;
}

.postagem{
	padding: 20px;
	margin-bottom:20px;
	background: white;
}

.conteudo-lateral{
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

/****formatação do menu****/
a {
	text-decoration: none;
}
 a:link,a:visited{
	color: #FFD700;
	padding: 8px, 12px;
}
 a:hover{
	text-decoration: underline;
	color: #FFD700
}

#area-cabecalho a:link, #area-cabecalho a:visited{
	color: #FFF;
	padding: 8px, 12px;
}
#area-cabecalho a:hover{
	color: #FFD700;
	background: #FFF;
	text-decoration: none
}

/********************formatação gerais*********************/

h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

.branco{
	color: white;
}

h2{
	color: #FFD700
}

.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

h3{
	color: #565656;
	background: #CCC;
	padding: 5px;

}

.texto-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}